{% extends 'base.html.twig' %}

{% block title %}
    Districts
{% endblock %}

{% block body %}
    <form action="" method="GET" id="districtForm">
        <div class="row">
            <div class="col-2">
                <select name="city" class="browser-default custom-select">
                    <option value="all">Wybierz miasto</option>
                    <option value="Gdańsk">Gdańsk</option>
                    <option value="Kraków">Kraków</option>
                </select>
            </div>  
            <div class="col-4">
                <p>Ludność</p>
                <div class="form-group">
                    <input type="text" name="populationFrom" value="" placeholder="Od" />
                </div>
                <div class="form-group">
                    <input type="text" name="populationTo" value="" placeholder="Do" />
                </div>
            </div>
            <div class="col-4">
                <p>Powierzchnia</p>
                <div class="form-group">
                    <input type="text" name="areaFrom" value="" placeholder="Od" />
                </div>
                <div class="form-group">
                    <input type="text" name="areaTo" value="" placeholder="Do" />
                </div>
            </div>
            <div class="col-2">
                <input type="submit" name="send" value="Wyszukaj" class="btn btn-primary" id="submitForm" />
            </div>
        </div>
        
    </form>

    <table class="table table-hover">
        <tr>
            <thead class="thead-light">
                <th scope="col">ID </th>
                <th scope="col" id="name">Nazwa <a href="#" class="desc">up</a>/<a href="#" class="asc">down</a></th>
                <th scope="col" id="population">Ludność <a href="#" class="desc">up</a>/<a href="#" class="asc">down</a></th>
                <th scope="col" id="area">Powierzchnia (km2) <a href="#" class="desc">up</a>/<a href="#" class="asc">down</a></th>
                <th scope="col" id="city">Miasto <a href="#" class="desc">up</a>/<a href="#" class="asc">down</a></th>
                <th scope="col">Action</th>
            </thead>
        </tr>
        <tbody>
        {% for district in districts %}
            <tr>
                <th scope="row">{{ district.id }}</th>
                <td>{{ district.name }}</td>
                <td>{{ district.population }}</td>
                <td>{{ district.area }}</td>
                <td>{{ district.city }}</td>
                <td>
                    <a href="{{ url_for('delete', {'cityName' : district.city, 'districtId': district.id}) }}">Usuń</a>
                    <a href="{{ url_for('edit', {'districtId': district.id}) }}">Edytuj</a>
                </td>
            </tr>  
        {% endfor %}
        </tbody>
    </table>
{% endblock %}